.nav-area {
  margin: 2rem 0; 
  display: grid;
  align-items: center;
  gap: 1rem 4rem;
  grid-template-columns: auto auto;
  grid-template-areas:
    'logo color-mode-switch'
    'nav nav'
  ;
}

@media (min-width: 40rem) {
  .nav-area {
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      'logo nav color-mode-switch'
    ; 
  } 
}
