.nav {
  overflow: auto;
  grid-area: nav;
}

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: nowrap;
}

.item {
  padding-left: clamp(2rem, 10vw, 4rem);
}

.item:first-child {
  padding-left: 0;
}

.link {
  color: var(--color-link);
  font-size: var(--fs-3);
}

.link:hover,
.link-is-current {
  color: var(--color-link-current-page);
}
