.button {
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
  width: 1.5rem;
  grid-area: color-mode-switch;
  justify-self: end;
}

.icon {
  color: var(--color-link);
  font-size: 1.2rem;
  vertical-align: top;
}
