.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.item {
  margin-left: 1.5rem;
}

.item:first-child {
  margin-left: 0;
}

.icon {
  font-size: var(--fs-2);
  color: var(--color-link-footer);
}
